<div class="container ">
    <div class="blog_menu">
        <a href="/category/{{category}}">
            <h1 class="mt-5 font-weight-bold font-italic">{{pName}}</h1>
        </a>
        <nav aria-label="breadcrumb">

            <ol class="breadcrumb black h3 lighten-2">
                {{#each category_child }}
                <li class="breadcrumb-item"><a class="" {{#if active}} style="color:gold" {{else}} style="color:white"
                        {{/if}} href="/category/{{category}}/{{category_child}}"> <i class="fa fa-home"
                            aria-hidden="true"></i> {{Name}}</a></li>
                {{/each }}
            </ol>
        </nav>

    </div>
    {{!-- ---------------------------------------------------Bài viết nổi bật----------------------------------------------------------------}}

    <div class="ListBlog ">
        <div class="row  ">
            {{#each mostview1}}
            <div class=" col-sm-6 mt-3">
                <a href="blogs/{{category_child}}/{{id_blog}}"><img class="card-img resizeimgmostview1"
                        src="{{link_img}}"></img>
                </a>
                <div class="carousel-caption">
                    <div class="topnews">
                        <a href="blogs/{{category_child}}/{{id_blog}}" class="topnews_link">
                            <h4>{{title}}</h4>
                        </a>
                    </div>
                </div>
            </div>
            {{/each }}

            {{#each mostviewrow1}}
            <div class=" col-sm-3 mt-3">
                <a href="blogs/{{category_child}}/{{id_blog}}"> <img class="card-img resizeimgmostview"
                        src="{{link_img}}">
                    </img>
                </a>
                <a class="title_link" href="blogs/{{category_child}}/{{id_blog}}">
                    <h5>{{title}}</h5>
                </a>
            </div>
            {{/each}}

        </div>
        <div class="row">
            {{#each mostviewrow2}}
            <div class=" col-sm-3 mt-3">
                <a href="blogs/{{category_child}}/{{id_blog}}"> <img class="card-img resizeimgmostview"
                        src="{{link_img}}">
                    </img>
                </a>
                <a class="title_link" href="blogs/{{category_child}}/{{id_blog}}">
                    <h5>{{title}}</h5>
                </a>
            </div>
            {{/each }}
        </div>
    </div>
    {{!-- ----------------------------------------------------Bài viết mới nhất--------------------------------------------------- --}}
    <div class="row  BaiVietLienQuan mb-5">
        <h3 class="the-article-summary col-sm-9">Bài viết mới nhất</h3>
        {{#each blog}}
        <div class="row mt-5 col-sm-9">
            <div class="col-sm-4">
                <a href="/blogs/{{category_child}}/{{id_blog}}"> <img src="{{link_img}} " alt=""
                        class="card-img img_blognew" /></a>
            </div>
            <div class="col-sm-8">
                <a class="title_link " href="/blogs/{{category_child}}/{{id_blog}}">
                    <h3>{{title}}</h3>
                </a>
                <div class="row">
                    <p class="col-sm-4 time_publish">{{date_publish}}</p>
                    <a class="col-sm-8 Name_blogs" href="/category/{{category}}/{{category_child}}">
                        <p>{{Name}}</p>
                    </a>
                </div>
                <p class="card-text">{{summary}}</p>
            </div>
        </div>
        <hr>
        {{/each }}
    </div>
    {{!-- ----------------------------------------------------Phân trang---------------------------------------------------------------- --}}
    <div class="page mb-5 mt-5 ">
        <nav aria-label="Page navigtion example">
            <ul class="pagination pagination-circle pg-blue">
                <li class="page-item "><a class="page-link text-danger font-weight-bold " href="?page=1" >First</a></li>
                <li class="page-item   ">
                    <a class="page-link" aria-label="Previous" >
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                {{#each this.pages}}
                <li class="page-item {{#if active}} active {{/if}} "><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                {{/each }}
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-danger font-weight-bold">Last</a></li>
            </ul>
        </nav>
    </div>
</div>