<div class="container">
    <div class="row">
        <div class="col-sm-3 " style="margin-top:100px">
            <h4>Chế độ tìm kiếm</h4>
            <ul>
                <li class="active">
                    <label>
                        <input type="radio" class="" name="search_mode" checked="checked" value="1">
                      title
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" class="" name="search_mode" value="2">
                        abstract
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" class="" name="search_mode" value="10">
                        nội dung
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <h3 class="the-article-summary col-sm-9">"{{keyword}}"</h3>
            <p class=" col-sm-9">Có {{count}} kêt quả phù hợp</p>
            {{#if auth}}
            {{#each blog}}
            <div class="row mt-5">
                <div class="col-sm-4">
                    <a href="/blogs/{{category_child}}/{{id_blog}}"> <img src="{{link_img}} " alt=""
                            class="card-img img_blognew" /></a>
                </div>
                <div class="col-sm-8">
                    <a class="title_link " href="/blogs/{{category_child}}/{{id_blog}}">
                        <h3>{{title}}</h3>
                    </a>
                    <div class="row">
                        <p class="col-sm-4 time_publish">{{date_publish}}</p>
                        <a class="col-sm-8 Name_blogs" href="/category/{{category}}/{{category_child}}">
                            <p>{{Name}}</p>
                        </a>
                    </div>
                    <p class="card-text">{{summary}}</p>
                </div>
            </div>
            <hr>
            {{/each}}

            <div style="margin-bottom:200px">
            </div>
            {{else }}
            <div class="row mt-5 col-sm-9" style="height:500px">
                <h3 class="col-sm-9 text-center"> Không tìm thấy kết quả</h3>

            </div>
            {{/if }}
        </div>

    </div>



</div>