<!----------------------------------------------------------Content------------------------------------------- -->
<div class="container">
  <!-- ---------------------------------------------------Tin nổi bật------------------------------------------------------------------------------ -->
  <div class="Tinnoibat row">

    <div class="bd-example col-sm-8 ">
      <h4 class="title">Tin nổi bật</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          {{#each this.popular1}}
          <div class="carousel-item active">
            <a href="blogs/{{category_child}}/{{id_blog}}">
              <img src="{{link_img}}" class="resizeimgpopular" alt="Los Angeles">
            </a>
            <div class="carousel-caption">
              <div class="topnews">
                <a href="blogs/{{category_child}}/{{id_blog}}" class="topnews_link">
                  <h3>
                    {{title}}
                  </h3>
                </a>
              </div>
            </div>
            <a href="category/{{category}}/{{category_child}}">
              <p class="top-center" id="eSportHome">{{category_child}}</p>
            </a>
            <span class="bottom-left"> <i class="fa fa-clock-o" aria-hidden="true"></i>{{date_publish}}</span>
          </div>
          {{/each }}

          {{#each this.popular}}
          <div class="carousel-item ">
            <a href="blogs/{{category_child}}/{{id_blog}}">
              <img src="{{link_img}}" class="resizeimgpopular" alt="Los Angeles">
            </a>
            <div class="carousel-caption">
              <div class="topnews">
                <a href="blogs/{{category_child}}/{{id_blog}}" class="topnews_link">
                  <h3>
                    {{title}}
                  </h3>
                </a>
              </div>
            </div>
            <a href="category/{{category}}/{{category_child}}">
              <p class="top-center" id="eSportHome">{{category_child}}</p>
            </a>
            <span class="bottom-left"> <i class="fa fa-clock-o" aria-hidden="true"></i>{{date_publish}}</span>
          </div>
          {{/each }}

        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <i class="fa fa-angle-left fa-4x" style="color:red" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <i class="fa fa-angle-right fa-4x" style="color:red" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class=" col-sm-4 ">
      <h4 class="title" style="text-decoration: none">Quảng cáo</h4>
      <div class="Ad">
        <a href="https://momo.vn/tin-tuc/khuyen-mai" target="_blank" title="Khyến mại ứng dụng momo">
          <img
            src="https://lh3.googleusercontent.com/-NBdSH_djJI8/WpPoKZpQr4I/AAAAAAAAlUY/GJAF5oP8HAke7N6pfjh6dIa2xYOsEq2yQCHMYCw/892b532b-1515-4f68-a492-f47ef47af764.jpg"
            style="width:100%;height:100%" class="imghover" alt="">
        </a>
      </div>
    </div>

  </div>
  <!------------------------------------------------------Bài viết được xem nhiều nhất-------------------------------------------------------------------- -->
  <div class="XemNhieuNhat">
    <h3 class="title">Bài viết được xem nhiều nhất</h3>
    <div class="row  ">
      {{#each mostview1}}
      <div class=" col-sm-6 mt-3">
        <a href="blogs/{{category_child}}/{{id_blog}}"><img class="card-img resizeimgmostview1"
            src="{{link_img}}"></img>
        </a>
        <div class="carousel-caption">
          <div class="topnews">
            <a href="blogs/{{category_child}}/{{id_blog}}" class="topnews_link">
              <h4>{{title}}</h4>
            </a>
          </div>
        </div>
      </div>
      {{/each }}

      {{#each mostviewrow1}}
      <div class=" col-sm-3 mt-3">
        <a href="blogs/{{category_child}}/{{id_blog}}"> <img class="card-img resizeimgmostview" src="{{link_img}}">
          </img>
        </a>
        <a class="title_link" href="blogs/{{category_child}}/{{id_blog}}">
          <h5>{{title}}</h5>
        </a>
      </div>
      {{/each}}

    </div>
    <div class="row">
      {{#each mostviewrow2}}
      <div class=" col-sm-3 mt-3">
        <a href="blogs/{{category_child}}/{{id_blog}}"> <img class="card-img resizeimgmostview" src="{{link_img}}">
          </img>
        </a>
        <a class="title_link" href="blogs/{{category_child}}/{{id_blog}}">
          <h5>{{title}}</h5>
        </a>
      </div>
      {{/each }}
    </div>

  </div>

  <div class="row mt-5">
    <!--------------------------------------------------Bài viết mới nhất-------------------------------------- -->
    <div class="Baivietmoinhat col-sm-9 mt-3">
      <h3 class="title col-sm-9">Bài viết mới nhất</h3>
      {{#each newblogs}}
      <div class="row mt-5">
        <div class="col-sm-4">
          <a href="blogs/{{category_child}}/{{id_blog}}"> <img src="{{link_img}} " alt=""
              class="card-img img_blognew" /></a>
        </div>
        <div class="col-sm-8">
          <a class="title_link " href="blogs/{{category_child}}/{{id_blog}}">
            <h3>{{title}}</h3>
          </a>
          <div class="row">
            <p class="col-sm-4 time_publish">{{date_publish}}</p>
            <a class="col-sm-8 Name_blogs" href="category/{{category}}/{{category_child}}">
              <p>{{category_child}}</p>
            </a>
          </div>
          <p class="card-text">{{summary}}</p>
        </div>
      </div>
      <hr>
      {{/each }}

    </div>
    <!--------------------------------------------------Top 10 chuyên mục-------------------------------------- -->
    <div class="Top10chuyenmuc col-sm-3">
      <h3 class="title ">Top 10 News</h3>
      {{#each topcategory }}
      <div class="card mt-5">
        <a href="blogs/{{category_child}}/{{id_blog}}"> <img  src="{{link_img}}" class="card-img img_top10news "
            alt="Card image cap">
          <a href="category/{{category}}/{{category_child}}">
            <p class="top_left">
              {{{category_child}}}
            </p>
          </a>
          <a class="title_link " href="blogs/{{category_child}}/{{id_blog}}">
            <p>{{title}}</p>
          </a>

      </div>
      {{/each }}
    </div>

  </div>
  <!------------------------------------------------------Phân trang--------------------------------------------- -->
  <div class="page mb-5 mt-5 ">
    <nav aria-label="Page navigtion example">
      <ul class="pagination pagination-circle pg-blue">
        <li class="page-item "><a class="page-link text-danger font-weight-bold">First</a></li>
        <li class="page-item ">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item active"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link">5</a></li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link text-danger font-weight-bold">Last</a></li>
      </ul>
    </nav>
  </div>
</div>